/* Entire WebPage */

* {

}

body {
    background-image: url(./images/background.jfif); 
    background-size: cover;
    background-position: center;
}

p {
    font-size: 16px;
}

/* Header Includes Title, nav bar, top photo and photo caption */
header {
    background-color: aqua;
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    background-image: url(./images/bestskyline.png); 
    background-size: cover;
    background-position: center;
}

h1 {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    width: 20%;
    justify-content: flex-start;
    margin-left: 15px;
}

a {
    text-decoration: none;
    color: black;
}
nav {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    margin-right: 20px;
}    

nav li {
    display: inline-flex;
    justify-content: flex-end;
    align-self: center;
    padding: 10px;
    margin: 10;
    border: 1px white solid;
}

figcaption {
    display: flex;
    height: 200px;
}

h2 {
    width: 100%;
    color: white;
    display: flex;
    font-family: ;
    font-weight: bold;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 10px;
}

/* Main includes sections of "About Me", "Portfolio" and "Contact" */
main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
}
h3, h4, h5 {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    border-right: 2px solid gray;
}

.about_me {
    height: 200px;
}

.intro {
    width: 80%;
    text-align: center;
    margin: auto;
}

    /* Work Section */
.portfolio {
    height: 800px;
}

.work {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 10px;
}

.main-work {
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.main-work img {
    height: 400px;
    width: auto;
}

.minor-work {
    display: inline-flex;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.minor-work img {

}
    /* Contact Section */
.contact {
    display: flex;
    height: 100px
}

.contact ul {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.contact li {
    display: inline-flex;
    align-items: center;
}

/* Footer */
footer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

