/* Entire WebPage */
:root {
    --dark: rgb(73, 71, 71);
}

* {

}

body {
    background-image: url(./images/background.jfif); 
    background-size: cover;
    background-position: center;
    font-family: 'Quattrocento Sans', sans-serif;
}

p {
    font-size: 16px;
}

/* Header Includes Title, nav bar, top photo and photo caption */
header {
    width: 100%;
    height: 300px;
    flex-direction: column;
    background-image: url(./images/bestskyline.png); 
    background-size: cover;
    background-position: center;
}

h1 {
    color: var(--dark);
    font-family: 'Oswald', sans-serif;
    font-size: 54px;
    font-weight: 700;
    width: 20%;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

nav ul {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    margin-right: 20px;
}    

nav li {
    padding: 10px;
    margin: 10px;
    border: 1px var(--dark) solid;
    border-radius: 10px;
}

header figcaption {
    display: flex;
    justify-content: flex-end;
    height: 200px;
}

h2 {
    margin-right: 15px;
    margin-bottom: 15px;
    align-self: flex-end;
    color: rgb(221, 210, 210);
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px var(--dark)
}

/* Main includes sections of "About Me", "Portfolio" and "Contact" */
section {
    display: flex;
}

h3, h4, h6 {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: var(--dark);
    font-size: 35px;
    font-weight: 600;
    border-right: 2px solid var(--dark);
}

.about_me {
    height: 200px;
}

.intro {
    width: 80%;
    text-align: center;
    margin: auto;
}

    /* Work Section */
.portfolio {
    height: 800px;
}

.work {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 10px;
}

.work a {
    text-decoration: none;
    /* font-size: 20px; */
}

.main-work {
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.portfolio figure {
    display: flex;
    background-image: url(./images/mainwork.jfif);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 75%;
    border: 3px solid var(--dark);
}

label {
    display: flex;
    position: relative;
    align-self: flex-end;
    flex-direction: column;
    height: 20%;
    width: 20%;
    bottom: 20%;
    color: rgb(221, 210, 210);
    background-color: var(--dark);
}

h5 {
    
}

.minor-work {
    display: inline-flex;
    height: 40%;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 10px; */
}

.mw-1 {
    background-image: url(./images/mainwork.jfif);
    background-size: cover;
    background-position: center;
}

.mw-2 {
    background-image: url(./images/mainwork.jfif);
    background-size: cover;
    background-position: center;
}

.mw-3 {
    background-image: url(./images/mainwork.jfif);
    background-size: cover;
    background-position: center;
}

    /* Contact Section */
.contact {
    display: flex;
    height: 100px;
    color: var(--dark);
    font-weight: 600;
}

.contact ul {
    display: flex;
    width: 80%;
    height: 60px;
    justify-content: space-evenly;
    align-self: center;
}

.contact li {
    display: inline-flex;
    align-items: center;
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
}

.contact a {
    font-size: 20px;
}

/* Footer */
footer {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

